@import "tailwindcss";

@layer components{
    .footer__link{
        @apply text-white font-semibold cursor-pointer text-sm hover:text-yellow-400 w-fit;
    }
}

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fade-in {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-in {
    from { opacity: 0; transform: translateX(-30px); }
    to { opacity: 1; transform: translateX(0); }
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

.animate-slide-in {
    animation: slide-in 0.6s ease-out forwards;
    opacity: 0;
}